$site-width: 1000px;
$tablet-width: calc(100% - 90px);
$mobile-width: calc(100% - 18px);

$primary-color: rgb(255, 246, 247);
$secondary-color: rgb(56, 56, 56);

// PALETTE
$color1: #DACED4;
$color2: #B3A9B4;
$color3: #898696;
$color4: #5C6678;
$color5: #2F4858;

//VARIOUS COLORS
$add-color1: #FFF9DA;
