$mobile-width: calc(100% - 18px);
$tablet-width: calc(100% - 90px);
$site-width: 1000px;

$section-padding: 2rem 0 2rem 0;

$primary-color: #E1FFF5;
$secondary-color: #2F4858;
$bg-color1: rgb(247, 247, 247);
$bg-color2: rgb(219, 255, 234);

// PALETTE1
$color1: #B5E0E0;
$color2: #8FBFCE;
$color3: #749EBB;
$color4: #677BA3;
$color5: #635883;

// PALETTE2
$color21: #B7D8D4;
$color22: #90B2B4;
$color23: #6C8E95;
$color24: #4C6A76;
$color25: #2F4858;

//VARIOUS COLORS
$add-color1: #E7CDFF;
