@import 'mixins';
@import 'variables';

#aboutMe {
    background: $bg-color1;
    // width: 100%;
    

    .contents {
        padding: $section-padding;
        font-size: 1.6rem;
        .upper-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 2rem;
            h2 {
                font-size: 2.3rem;
            }
            img {
                border-radius: 50%;
                width: 15rem;
            }
        }
        .lower-section {
            & > * {
                margin-bottom: 2rem;
            }
        }
    }
}