@import 'mixins';
@import 'variables';

#header {
    position: fixed;
    transition: 0.5s;
    top: 1rem;
    right: 1rem;
    color: white;
    
    .hamburger-icon {
        background: black;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include shadow(0.5rem, 1rem)
    }
}