@import 'mixins';
@import 'variables';

.menu-list {
    transition: 0.2s;
    color:white;
    font-size: 2.2rem;
    line-height: 3rem;
    letter-spacing: 0.5rem;
    a {
        transition: 0.2s;
        &:hover {
            letter-spacing: 2rem;
        }
    }
}

@include for-tablet-only {

}

@include for-desktop-up {

}