@import 'mixins';
@import 'variables';

#projects {
    background: linear-gradient(to bottom, $bg-color1 0, darken($bg-color1, 5%) 100%);
    .contents {
        padding: $section-padding;
        & > h2 {
            font-size: 2.3rem;
            margin-bottom: 1rem;
        }

        & > span {
            font-size: 1.6rem;
            margin-bottom: 1rem;
            display: inline-block;
            text-align: right;
            color: $color5;
        }
        

    }
}